html {
    font-size: 10px;
    overflow: auto;
    height: 100%;
}
body, nav {
    background-color: #fff6ee;
}
body {
    padding-top: 6.3rem;
    margin: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    z-index: 100;
    overflow-x: auto;
}
nav a {
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}
.after-form-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 75vh;
}
.go-back {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline;
    border: 0;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    color: white;
}
input, textarea, select {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    outline: 0;
    border: 0;
    width: 30rem;
}
input {
    height: 2rem;
}
h5 {
    font-size: 1.8rem;
}
footer {
    padding: 2rem;
    font-size: 1.8rem;
    position: absolute;
    width: 100%;
}
label {
    display: block;
}
table, td, th{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 1rem;
}
footer > * {
    margin-bottom: 0;
    margin-top: 0;
}
.section-title, .fira-sans, label {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}
.section-title {
    font-size: 8rem;
    text-align: center;
    margin: 0;
    font-weight: 700;
}
.home-h2 {
    font-size: 7rem;
}
.leckerli-one {
    font-family: 'Leckerli One', cursive;
    font-weight: 400;
}
.poppins, nav a, .btn, .go-back, .close-pop-up-btn {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.italianno {
    font-family: 'Italianno', 'Lucida Handwriting', cursive;
    font-weight: 400;
}
.open-sans, input, textarea, footer, select {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.red-font, .btn, input, select, textarea {
    color: #721313;
}
.red-background, .form-background, .go-back, .active {
    background-color: #721313;
}
.gray-text {
    color: gray;
}
.peach-text {
    color: #fff6ee;
}
#first-healthy-meal-service {
    background-color: rgba(114, 19, 19, 0.8);
    display: inline;
    border-radius: 10px;
    padding: 0.35rem 1rem;
}
.overlay-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 40rem;
    top: 0;
    left: 0;
    position: absolute;
}
#home-image {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    display: block;
}
#pop-up-overlay-text {
    top: 1rem;
    justify-content: flex-start;
    position: absolute;
    align-items: center;
    width: 90%;
    font-size: 1.5rem;
}
table {
    width: 100%;
}
.overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.overlay-text p {
    text-align: center;
}
.meal-plans-images, .meal-plans-overlay {
    width: 26vw;
    height: 40rem;
    border-radius: 40px;
}
.meal-plans-overlay-text {
    width: 20vw;
}
.meal-plans-images {
    object-fit: cover;
}
.meal-plans-overlay {
    position: absolute;
    background-color: rgba(114, 19, 19, 0.6);
}
.overlay-text * {
    margin: 0;
}
.overlay-text p, .overlay-text li {
    font-size: 2rem;
}
.overlay-text .margin {
    margin: 1.5rem;
}
.white-text, footer, .form-group, table {
    color: white;
}
.h1-p-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.horizontal-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-flex-gap {
    gap: 4rem;
}
.form-background, .form-overlay-container {
    height: 35rem;
}
.form-overlay-container {
    width: 100%;
}
.form-background {
    position: absolute; 
    width: 30%;
    border-radius: 2rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.form-overlay-text {
    height: 100%;
}
.btn-container {
    display: flex;
    gap: 1rem;
}
.btn{
    box-sizing: border-box;
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
}
.form-btn {
    border-radius: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    height: 3rem;
    font-weight: 700;
}
.pop-up-btn {
    padding: 2rem;
    width: 90%;
    border-radius: 5rem;
    margin: 2rem;
}
.btn:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.section-sub-title {
    font-size: 4rem;
    text-align: center;
}
.section-body-text {
    font-size: 3rem;
    text-align: center;
}
.long-words {
    height: 5rem;
    overflow: auto;
}
.normal-margin {
    margin: 1rem;
}
.active {
    color: white;
    border-radius: 1rem;
}
.all-container {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s, top 0.4s;
    overflow-y: auto;
}
.pop-up-container {
    width: 60%;
    height: 60%;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.pop-up-background {
    width: 100%;
    height: 115rem;
    position: absolute;
    align-items: center;
    border-radius: 3rem;
}
.when-pop-up {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.bold {
    font-weight: 700;
}
.text-with-background {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.white-background {
    background-color: white;
}
.subscription-overlay-container {
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 53rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.subscription-background {
    position: absolute;
    background-color: #721313;
    width: 31%;
    height: 100%;
    border-radius: 2rem;
}
.testimonial-slider-container {
    overflow: hidden;
    position: relative;
}
.testimonial-slider {
    display: flex;
    width: 300%;
    animation: 12s slider infinite;
}
.slide {
    float: left;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 18rem;
    width: 100%;
}
@keyframes slider {
    0% {
        transform: translateX(0);
    }             
    33.33% {
        transform: translateX(-33.33%);
    }
    66.66% {
        transform: translateX(-66.66%);
    }
    66.67% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
.testimonial-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.testimonial-background {
    width: 100%;
    height: 80%;
    position: absolute;
    border-radius: 2rem;
}
.testimonial-name {
    position: absolute;
    top: 0;
    margin: 0;
    width: 70%;
    z-index: 2;
}
.body-text {
    font-size: 1.5rem;
}
.name-and-text-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}
.footer-container {
    margin: 0;
    display: flex;
    gap: 15%;
    justify-content: flex-start;
    align-items: center;
}
.footer-group > * {
    margin: 0;
    padding: 0;
}
.no-margin {
    margin: 0;
}
