html {
    font-size: 10px;
    overflow: auto;
    height: 100%;
}
body, nav {
    background-color: #fff6ee;
}
body {
    padding-top: 6.3rem;
    margin: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    z-index: 100;
    overflow-x: auto;
}
nav a {
    font-size: 2rem;
    text-decoration: none;
}
.after-form-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 75vh;
}
.go-back {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline;
    border: 0;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    color: white;
}
input, textarea {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    outline: 0;
    border: 0;
    width: 30rem;
}
input {
    height: 2rem;
}
h5 {
    font-size: 1.8rem;
}
footer {
    padding: 2rem;
    font-size: 1.8rem;
}
.footer-contents {
    margin-bottom: 0;
    margin-top: 0;
}
label {
    display: block;
}
.section-title, .fira-sans {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}
.section-title {
    font-size: 8rem;
    text-align: center;
    margin: 0;
    font-weight: 700;
}
.home-h2 {
    font-size: 7rem;
}
.leckerli-one {
    font-family: 'Leckerli One', cursive;
    font-weight: 400;
}
.poppins, nav a, .btn, .go-back {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.italianno {
    font-family: 'Italianno', 'Lucida Handwriting', cursive;
    font-weight: 400;
}
.open-sans, input, textarea, footer {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.red-font, .btn {
    color: #721313;
}
.red-background, .form-background, .btn:hover, .go-back {
    background-color: #721313;
}
.peach-text {
    color: #fff6ee;
}
.white-text {
    color: white;
}
#first-healthy-meal-service {
    background-color: rgba(114, 19, 19, 0.8);
    display: inline;
    border-radius: 10px;
    padding: 0.35rem 1rem;
}
.overlay-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 40rem;
    top: 0;
    left: 0;
    position: absolute;
}
#home-image {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    display: block;
}
.overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
}
.meal-plans-images, .meal-plans-overlay {
    width: 26vw;
    height: 40rem;
    border-radius: 40px;
}
.meal-plans-overlay-text {
    width: 20vw;
}
.meal-plans-images {
    object-fit: cover;
}
.meal-plans-overlay {
    position: absolute;
    background-color: rgba(114, 19, 19, 0.6);
}
.overlay-text * {
    margin: 0;
}
.overlay-text p, .overlay-text li {
    font-size: 2rem;
}
.overlay-text .margin {
    margin: 1.5rem;
}
.white-text, footer, .form-group {
    color: white;
}
.h1-p-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.horizontal-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-flex-gap {
    gap: 4rem;
}
.form-background, .form-overlay-container {
    height: 35rem;
}
.form-overlay-container {
    width: 100%;
}
.form-background {
    position: absolute; 
    width: 30%;
    border-radius: 2rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.form-overlay-text {
    height: 100%;
}
.btn-container {
    display: flex;
    gap: 1rem;
}
.btn {
    border-radius: 1rem;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    height: 3rem;
    font-weight: 700;
}
.btn:hover {
    color: white;
    border: 1px solid white;
}
.section-sub-title {
    font-size: 4rem;
    text-align: center;
}
.section-body-text {
    font-size: 3rem;
    text-align: center;
}
.long-words {
    height: 5rem;
    overflow: auto;
}
.normal-margin {
    margin: 1rem;
}
